{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "^red;Manaticon^reset; ", "^green;Rotik^reset; ", "^yellow;Callox^reset; ", "^blue;Graxus^reset; ", "^orange;Xia-Li^reset; ", "^magenta;Shade Co.^reset; ", "^darkcyan;Necrolix^reset; ", "^darkgreen;Teklacki^reset; " ],
      [ { "mode" : "alts" }, "Star", "Stone", "Iron", "Steel", "Speed", "Silent", "Light", "Heavy-", "Jaw", "Wrath", "Moon", "Sun", "Hell", "Metal", "Dragon", "War", "Motor", "King", "Storm", "Thunder", "Flash", "Gold", "Silver", "Black", "Green", "Red", "White", "Blue", "Ash", "Ocean", "Under", "Over", "Void", "Phase", "Dusk", "Flux" ],
      [ { "mode" : "alts" }, "rifle", "gun", "launcher", "blade", "sword", "freak", "maker", "taker", "beam", "ray", "breaker", "breath", "heart", "ram", "scream", "heat", "death", "gunner", "devil", "trouble", "blaster", "wrecker", "blood", "trail", "curse", "fire", "rain", "flower", "wave", "spark", "train", "killer", "trooper", "diver", "bomber", "grave", "flight", "raiser", "battery" ]
    ]
  ]
}
